# SS_WeatherPy
----

#### Analysis
1. Observation 
2. Observation 
3. Observation

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from config import api_key
import json
import requests
import os
from citipy import citipy
import numpy as np


# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [7]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lat = np.random.uniform(lat_range[0], lat_range[1], size=50)
lng = np.random.uniform(lng_range[0], lng_range[1], size=50)
lat_lngs = zip(lat, lng)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

42

                City
0             yulara
1             hobart
2             torbay
3            mandera
4   illoqqortoormiut
5           victoria
6     port elizabeth
7               paka
8            fortuna
9              bluff
10             cutro
11         marystown
12           rikitea
13        warrington
14         taolanaro
15        samalaeulu
16         kysyl-syr
17      pirai do sul
18     leningradskiy
19               oda
20            namibe
21      puerto padre
22             vaini
23    port macquarie
24     mar del plata
25           margate
26             tabou
27          khatanga
28             ancud
29      punta arenas
30         upernavik
31             niimi
32      norman wells
33           xai-xai
34          hermanus
35            guadix
36             tiksi
37              tura
38           ushuaia
39            athens
40          la ronge
41         busselton

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [21]:
# Create a data frame from city results 

cities_df = pd.DataFrame({"City": cities})
cities_df


# Create blank columns 
cities_df["Lat"] = "" 
cities_df["Lng"] = "" 
cities_df["Max Temp"] = "" 
cities_df["Humidity"] = "" 
cities_df["Cloudiness"] = ""  
cities_df["Wind Speed"] = "" 
cities_df["Country"] = "" 
cities_df["Date"] = "" 
                

# Use open weather API
# Add URL and parameters

url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="


# Create new lists for the data frame 
lat = []
lng = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
Date = []

counter = 0 

# loop through the cities found from citypy 

for index, row in cities_df.iterrows():
    city_search = row["City"]
#     search open weather API for information on each city   
    response = requests.get(query_url + city_search)
    response_json = response.json()
#     Populate the columns with the results 
    try:
        cities_df.loc[index, "Lat"] = response_json['coord']['lat']
        cities_df.loc[index, "Lng"] = response_json['coord']['lon']
        cities_df.loc[index, "Max Temp"] = response_json['main']['temp_max']
        cities_df.loc[index, "Humidity"] = response_json['main']['humidity']
        cities_df.loc[index, "Cloudiness"] = response_json['clouds']['all']
        cities_df.loc[index, "Wind Speed"] = response_json['wind']['speed']
        cities_df.loc[index, "Country"] = response_json['sys']['country']
        cities_df.loc[index, "Date"] = response_json['dt']
        print(f" Processing Record {index} | {city_search}")
    
    except:
        print("City not found. Skipping...")
        pass 

# print(f'{lat}')

 Processing Record 0 | yulara
 Processing Record 1 | hobart
 Processing Record 2 | torbay
 Processing Record 3 | mandera
City not found. Skipping...
 Processing Record 5 | victoria
 Processing Record 6 | port elizabeth
 Processing Record 7 | paka
 Processing Record 8 | fortuna
 Processing Record 9 | bluff
 Processing Record 10 | cutro
 Processing Record 11 | marystown
 Processing Record 12 | rikitea
 Processing Record 13 | warrington
City not found. Skipping...
City not found. Skipping...
 Processing Record 16 | kysyl-syr
 Processing Record 17 | pirai do sul
 Processing Record 18 | leningradskiy
 Processing Record 19 | oda
 Processing Record 20 | namibe
 Processing Record 21 | puerto padre
 Processing Record 22 | vaini
 Processing Record 23 | port macquarie
 Processing Record 24 | mar del plata
 Processing Record 25 | margate
 Processing Record 26 | tabou
 Processing Record 27 | khatanga
 Processing Record 28 | ancud
 Processing Record 29 | punta arenas
 Processing Record 30 | upernavik
 Processing Record 31 | niimi
 Processing Record 32 | norman wells
 Processing Record 33 | xai-xai
 Processing Record 34 | hermanus
 Processing Record 35 | guadix
 Processing Record 36 | tiksi
 Processing Record 37 | tura
 Processing Record 38 | ushuaia
 Processing Record 39 | athens
 Processing Record 40 | la ronge
 Processing Record 41 | busselton

In [22]:
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,yulara,-25.2406,130.989,14,51,59,3.09,AU,1619280930
1,hobart,-42.8794,147.329,9.44,81,40,3.09,AU,1619280782
2,torbay,47.6666,-52.7314,10,43,75,10.29,CA,1619280930
3,mandera,3.9366,41.867,29.65,56,91,3.86,KE,1619280930
4,illoqqortoormiut,,,,,,,,
5,victoria,22.2855,114.158,25,86,31,4.55,HK,1619280737
6,port elizabeth,-33.918,25.5701,15,94,0,3.6,ZA,1619280930
7,paka,4.6374,103.437,26,89,100,1.54,MY,1619280660
8,fortuna,40.5982,-124.157,11.67,87,90,7.72,US,1619280931
9,bluff,-46.6,168.333,8.89,78,82,4.02,NZ,1619280931
10,cutro,39.0353,16.9819,14.44,72,40,7.72,IT,1619280931
11,marystown,47.1666,-55.1483,6.71,72,72,8.84,CA,1619280931
12,rikitea,-23.1203,-134.969,25.48,73,100,6.15,PF,1619280931
13,warrington,53.3925,-2.5802,19,37,0,3.6,GB,1619280931
14,taolanaro,,,,,,,,
15,samalaeulu,,,,,,,,
16,kysyl-syr,63.8986,122.762,1.37,91,100,3.7,RU,1619280932
17,pirai do sul,-24.5261,-49.9486,24.44,51,34,1.34,BR,1619280932
18,leningradskiy,69.3833,178.417,-8.35,95,100,1.91,RU,1619280932
19,oda,35.1833,132.5,12.63,73,93,1.29,JP,1619280810
20,namibe,-15.1961,12.1522,27.36,72,77,4.95,AO,1619280845
21,puerto padre,21.195,-76.6028,32,43,40,6.17,CU,1619280932
22,vaini,-21.2,-175.2,21,100,75,3.54,TO,1619280932
23,port macquarie,-31.4333,152.917,12.22,92,18,0.89,AU,1619280933
24,mar del plata,-38.0023,-57.5575,20,64,40,6.69,AR,1619280933
25,margate,51.3813,1.3862,10.56,66,8,3.58,GB,1619280933
26,tabou,4.423,-7.3528,29.71,72,85,5.33,CI,1619280933
27,khatanga,71.9667,102.5,0.26,97,100,7.12,RU,1619280933
28,ancud,-41.8697,-73.8203,15,76,75,5.66,CL,1619280933
29,punta arenas,-53.15,-70.9167,8,87,0,3.78,CL,1619280934
30,upernavik,72.7868,-56.1549,1.24,86,35,1.22,GL,1619280934
31,niimi,34.9833,133.467,13.33,85,83,0.93,JP,1619280842
32,norman wells,65.282,-126.833,-2,54,75,1.54,CA,1619280934
33,xai-xai,-25.0519,33.6442,22.68,69,7,1.33,MZ,1619280934
34,hermanus,-34.4187,19.2345,18.89,75,97,1.34,ZA,1619280934
35,guadix,37.2993,-3.1392,14.44,68,47,0.89,ES,1619280934
36,tiksi,71.6872,128.869,-0.62,92,100,5.88,RU,1619280934
37,tura,25.5198,90.2201,25.75,29,56,1.68,IN,1619280935
38,ushuaia,-54.8,-68.3,13,58,40,7.2,AR,1619280935
39,athens,37.9795,23.7162,15,88,75,2.06,GR,1619280935
40,la ronge,55.1001,-105.284,-4,50,31,3.09,CA,1619280935
41,busselton,-33.65,115.333,12.22,91,1,0.81,AU,1619280935

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [ ]:
cities_dict = {"City": cities, 
               "Lat": lat, 
               "Lng": lng,
               "Max Temp": max_temp,
               "Humidity": humidity, 
               "Cloudiness": cloudiness, 
               "Wind Speed": wind_speed, 
               "Country": country,
               "Date": Date}

# len(cities_dict)

cities_df = pd.DataFrame(cities_dict)
cities_df

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression